* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #612734;
  padding: 10px;
}
header h1{
  margin-left: -15%;
  animation: header-text-animation 2s ease-in-out forwards;
}
@keyframes header-text-animation {
  to{
      margin-left: 0%;
  }
}
header button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 1;
  margin-right: -4%;
  animation: header-button-animation 2s ease-in-out forwards;
}
@keyframes header-button-animation {
  to{
      margin-right: 0%;
  }
}
header button svg {
  margin-top: -5px;
  color: #612734;
}

/* section-one */
#section-one {
  background-color: #612734;
  width: 100%;
  height: auto;
}
.s1-text-container {
  height: 50vh;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.s1-text-container h2 {
  font-size: 90px;
  z-index: 1;
  color: #000;
  font-weight: bolder;
}
.s1-text-container p {
  color: #000;
}
.s1-text-container button {
  width: 100px;
}
.s1-text-container .image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height:100vh;
  overflow: hidden;
}
.image img {
  width: 60%;
  margin-left: 180px;
  margin-top: 70px;
  border-radius: 50%;
  background-color: #39222269;
  box-shadow: 0px 0px 100px #392222b3;
}

/* section two */

#section-two{
  background-color: #612734;
  width: 100%;
  height: 100vh;
}


@media screen and (max-width: 600px) {
  header {
    padding: 5px;
  }
  header h1{
  margin-left: -50%;
  animation: header-text-animation 2s ease-in-out forwards;
}
@keyframes header-text-animation {
  to{
      margin-left: 0%;
  }
}
  header button {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    margin-right: -13%;
  animation: header-button-animation 2s ease-in-out forwards;
}
@keyframes header-button-animation {
  to{
      margin-right: 0%;
  }
}
  header button svg {
    margin-top: -5px;
    color: #612734;
    width: 20px;
  }

  /* section one */

  .s1-text-container h2 {
    font-size: 3rem;
    z-index: 1;
    color: #000;
    font-weight: bolder;
  }
  .s1-text-container p {
    font-size: 11px;
    color: #000;
  }
  .s1-text-container button {
    width: 100px;
  }
  .s1-text-container .image {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    overflow: hidden;
  }
  .image img {
    width: 150%;
    height: 45%;
    margin-left: 13%;
    margin-top: 50px;
      background-color: #39222269;
  box-shadow: 0px 0px 10px #392222b3;
  }
}
