:root {
  --bg: #612734;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 3rem;
  background-color: var(--bg);
  color: black;
}
header .brand h4 {
  font-weight: 700;
  font-size: 1.3rem;
}
header .brand p {
  font-size: 0.8rem;
  margin-top: -0.5rem;
}

/* media sm */

@media (max-width: 330px) {
header {
  padding: 1.3rem;
}
header .brand h4 {
  font-size: 1.2rem;
}
header .brand p {
  font-size: 0.5rem;
}
}
@media (min-width: 333px) {
header {
  padding: 1.7rem;
}
}

@media (min-width: 1024px) {
header {
  padding: 2.5rem;
}
}
@media (min-width: 768px) {
header {
  padding: 2.5rem;
}
}